
.state{
    display:flex;
    column-gap: 5px;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    &-label{
        font-weight: 700;
       
    }

    &-icone{
        display: block;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        box-shadow: var(--shadow-box);
        border-radius: 9999px;
        border: 2px solid white;
    }
}
