.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  &+label {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
    padding: 0;

  }

  // Box.
  &+label:before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid var(--c-grey-700);
    border-radius: 3px;
  }

  // Box hover
  &:hover+label:before {
    // background: var(--c-grey-500);
  }

  // Box focus
  &:focus+label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.40);
    outline-color: initial;
    outline-width: thin;
    outline-style: solid;
  }

  // Disabled state label.
  &:disabled+label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled+label:before {
    box-shadow: none;
  }

  & + label::after{
    
    content:url("data:image/svg+xml,%3Csvg width='17' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='check-anime' d='M15.192.5c-.456.014-.889.222-1.208.577-2.78 3.023-5.32 5.988-7.99 8.947L2.857 7.293a1.66 1.66 0 0 0-1.292-.407c-.464.056-.887.309-1.18.705-.29.394-.425.898-.373 1.401.051.504.285.963.648 1.28l4.393 3.813c.703.605 1.712.542 2.343-.15 3.16-3.435 5.99-6.81 9.078-10.167.516-.55.67-1.387.387-2.108C16.576.938 15.915.478 15.192.5Z' fill='%232E548E'/%3E%3C/svg%3E");    position: absolute;
    left: 6px;
    top: -4px;  
    width: 12px;
    height: 12px;
    display: none;
    animation:fade .5s ease-in-out forwards;
    opacity: 0;
  }

  // Checkmark. Could be replaced with an image
  &:checked+label:after {
    display: block;
  }

  &:checked+label::before {
    outline: none;
  }

  &:disabled + label:after{
    --color-check:var(--c-grey-500);
    content:url("data:image/svg+xml,%3Csvg width='17' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='check-anime' d='M15.192.5c-.456.014-.889.222-1.208.577-2.78 3.023-5.32 5.988-7.99 8.947L2.857 7.293a1.66 1.66 0 0 0-1.292-.407c-.464.056-.887.309-1.18.705-.29.394-.425.898-.373 1.401.051.504.285.963.648 1.28l4.393 3.813c.703.605 1.712.542 2.343-.15 3.16-3.435 5.99-6.81 9.078-10.167.516-.55.67-1.387.387-2.108C16.576.938 15.915.478 15.192.5Z' fill='%23828282'/%3E%3C/svg%3E");    position: absolute;

    display: block;
  }
    
}

@keyframes fade {
  to{
    opacity: 1;
  }
}