<a href="/doc/components/RadioButtonComponent.html"
  class="flex items-center justify-end text-blue-500 hover:text-blue-700"><svg xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-8 mr-3" width="32" height="32"
    preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
    <path fill="currentColor"
      d="M225.3 82.7a51.8 51.8 0 0 1-15.3 36.8l-28.3 28.3a52 52 0 0 1-73.5 0a8 8 0 1 1 11.3-11.3a36.1 36.1 0 0 0 50.9 0l28.3-28.3a36 36 0 1 0-50.9-50.9L128 77.1a8 8 0 0 1-11.3-11.3L136.5 46a52.1 52.1 0 0 1 88.8 36.7ZM128 178.9l-19.8 19.8a36 36 0 0 1-50.9-50.9l28.3-28.3a36.1 36.1 0 0 1 50.9 0a8 8 0 0 0 11.3-11.3a52 52 0 0 0-73.5 0L46 136.5a52 52 0 1 0 73.5 73.5l19.8-19.8a8 8 0 0 0-11.3-11.3Z">
    </path>
  </svg> <span>
    Doc radio bouton
  </span></a>
<!-- Dispay in row -->
<h3 class="mb-4 mt-4 text-gray-600">Display inline</h3>
<app-radio-button class="flex p-0"
  [dataInputs]="[{name : 'Nuxt', value:'nux-1'},{name : 'SvelteJS', value:'angular-1'}]" [groupName]="'frameworkjs'">
</app-radio-button>
<!-- Dispay in columns-->
<h3 class="mb-4 mt-6 text-gray-600">Display Column</h3>
<app-radio-button class="flex flex-col gap-4"
  [dataInputs]="[{name : 'Kobolds', value:'kobold-1'},{name : 'Elves', value:'elfe-1'},]" [groupName]="'Fantasy'">
</app-radio-button>
