<div class="m-32 ml-0">
    <a   class="text-6xl text-blue-600 hover:text-blue-700 mt-48 " href="/doc/index.html">Acccéder à la documention</a>
  </div>

  <div class="flex flex-row flex-wrap gap-12 ">
    <a class="basis-1/4" [routerLink]="'/buttons'" >
        <div class="flex flex-col items-center gap-7 min-h-[120px] border border-slate-300 transition-shadow duration-300 hover:shadow-md   rounded-2xl  p-5">
            <h2 class="flex-grow">Boutons</h2>
            <img class="w-1/2 " src="assets/images-cards/buttons.png" alt="">
        </div>
    </a>
    <a class="basis-1/4" [routerLink]="'/buttons'" >
        <div class="flex flex-col items-center gap-7 min-h-[120px] border border-slate-300 transition-shadow duration-300 hover:shadow-md   rounded-2xl  p-5">
            <h2 class="flex-grow">Radios Boutons</h2>
            <img class="w-1/2 " src="assets/images-cards/radio-buttons.png" alt="">
        </div>
    </a>
    <a class="basis-1/4" [routerLink]="'/inputs'" >
        <div class="flex flex-col items-center  gap-7 min-h-[120px] border border-slate-300 transition-shadow duration-300 hover:shadow-md   rounded-2xl  p-5">
            <h2 class="flex-grow">Inputs</h2>
            <img class="w-2/3 " src="assets/images-cards/inputs.png" alt="">
        </div>
    </a>
    <a class="basis-1/4" [routerLink]="'/checkbox'" >
        <div class="flex flex-col items-center   gap-7 min-h-[120px] border border-slate-300 transition-shadow duration-300 hover:shadow-md   rounded-2xl  p-5">
            <h2 class="flex-grow">Checkbox</h2>
            <div class=""><img  src="assets/images-cards/checkbox.png" alt=""></div>
        </div>
    </a>
    <a class="basis-1/4" [routerLink]="'/drop-down'" >
        <div class="flex flex-col items-center   gap-7 min-h-[120px] border border-slate-300 transition-shadow duration-300 hover:shadow-md   rounded-2xl  p-5">
            <h2 class="flex-grow">Dropdown</h2>
            <div class=""><img  src="assets/images-cards/drop-down.png" alt=""></div>
        </div>
    </a>
    <a class="basis-1/4" [routerLink]="'/state'" >
        <div class="flex flex-col items-center   gap-7 min-h-[120px] border border-slate-300 transition-shadow duration-300 hover:shadow-md   rounded-2xl  p-5">
            <h2 class="flex-grow">States</h2>
            <div class=""><img  src="assets/images-cards/states.png" alt=""></div>
        </div>
    </a>
  </div>