.module{
    display:flex;
    flex-direction:column;
    min-height: 235px;
    width: 651px;
    background: var( --c-blue-100);
    padding: 10px 20px  ;
    border-radius:10px;
    row-gap:15px;
    &_header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }

    .module-radiobtn_row{
        display: flex;
    }

    &_content{
        display: flex;
        flex-direction: column;
        gap:10px;
        .caps{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 0px ;
        }
    }

    
}