.cnav-wrapper-input {
    position: relative;
    padding: 0;
    min-width: 144px; //lock data currency on minimal width parent

    .cnav-input {
        height: 40px;
        min-width: 144px;
        width: 100%;
        outline: 2px solid transparent;
        outline-offset: 2px;
        border: 1px solid var(--c-grey-700);
        border-radius: 5px;
        padding: 0 8px;
    }
}

//class host definition .data-currency
:host-context(.data-currency) .cnav-currency {
    .cnav-input {
        padding-right: 36px;
        text-align: right;
    }

    &:focus-within::before {
        transition: opacity .3s ease-in-out;
        opacity: .4;
    }

    &::before {
        content: attr(data-currency);
        position: absolute;
        right: 20px;
        top: 8px;

    }
}