.btn {
    display: flex;
    justify-content: center;
    height: 2.5rem;
    flex-wrap: nowrap;
    align-items: center;
    min-width: 109px;
    padding: .5rem 1.25rem;
    margin: .5rem;
    border-radius: 20px;
    border-width: 1px;
    border-color: var(--blue);
    color: var(--blue);

    svg.ico-ative{
        height: 23px;
        width: 16px;
    }

    &:disabled{
        cursor: not-allowed;
        opacity: .8;
    }
}

:host-context(.btn-primary-bg) .btn-theme {

    background-color: var(--blue);
    color: white;
    transition: background-color .3s ease-in-out;

    &:hover:not(:disabled){
        background-color: var(--blue-300);
    }


}

:host-context(.btn-ico) .btn-theme {
    &::ng-deep svg {
        height: 23px;
        width: 16px;
    }

}