<div class="pl-24 pr-24">
  <h1 class="m-12 text-center text-blue-600 text-3xl">Design system RCI</h1>

  <div class="flex flex-col">

    <h2 class="text-indigo-700 text-xl mb-5 mt-5 ">Boutons Radio</h2>
    <div class="p-3 border border-slate-300 rounded-lg flex flex-col align-middle">
      <h3 class="mb-2 mt-3 text-gray-600">Display inline</h3>
      <app-radio-button class="flex p-0"
        [dataInputs]="[{name : 'Nuxt', value:'nux-1'},{name : 'SvelteJS', value:'angular-1'},]"
        [groupName]="'frameworkjs'"></app-radio-button>

      <h3 class="mb-2 mt-3 text-gray-600">Display Column</h3>
      <app-radio-button class="flex flex-col"
        [dataInputs]="[{name : 'Kobold', value:'kobold-1'},{name : 'Elfe', value:'elfe-1'},]" [groupName]="'Fantasy'">
      </app-radio-button>
    </div>
  </div>

  <h2 class="text-indigo-700 text-xl mb-5 mt-5 ">Boutons</h2>
  <div class="p-3 border border-slate-300 rounded-lg flex flex-col align-middle">
  <button
    class="flex w-fit h-10 items-center py-2 px-5 m-2 border border-zinc-700 bg-zinc-700 hover:bg-nav-hover-blue rounded-3xl text-white"><span
      >Résultats de Droit</span><span class="ml-1"><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="h-6 w-6"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
        <path fill="currentColor"
          d="M9.29 6.71a.996.996 0 0 0 0 1.41L13.17 12l-3.88 3.88a.996.996 0 1 0 1.41 1.41l4.59-4.59a.996.996 0 0 0 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z">
        </path>
      </svg></span> </button>
  <button
    class="flex max-w-109 h-10 justify-center py-2 px-5 m-2  border border-zinc-700 hover:bg-nav-hover-blue rounded-3xl text-zinc-700">Annuler</button>
  <button
    class="flex max-w-109 h-10 justify-center py-2 px-5 m-2  border border-zinc-700 hover:bg-nav-hover-blue rounded-3xl text-zinc-700">Enregistrer</button>
</div>
<div class="wrapper-input my-2 w-fit items-center justify-end  flex relative before:block before:absolute before:content-[attr(data-currency)] before:pr-2" data-currency="€">
  <input class="h-10 w-36 border text-right pl-4 pr-6 border-gray-300 rounded-md " type="text" name="" id="" >
</div>



</div>
