<app-header></app-header>

<div class=" p-24">

  <!-- SECTION RADIO BOUTTON -->
  <a href="/doc/index.html">Documentation</a>
  <div class="flex flex-col">
    <h1 class="text-indigo-700  mb-1 mt-5 ">Boutons Radio</h1>
    <div class="p-3 border border-slate-300 rounded-lg flex flex-col align-middle">

      <!-- Dispay in row -->
      <h3 class="mb-4 mt-4 text-gray-600">Display inline</h3>

      <app-radio-button class="flex p-0"
        [dataInputs]="[{name : 'Nuxt', value:'nux-1'},{name : 'SvelteJS', value:'angular-1'}]"
        [groupName]="'frameworkjs'">
      </app-radio-button>

      <!-- Dispay in columns-->
      <h3 class="mb-4 mt-6 text-gray-600">Display Column</h3>

      <app-radio-button class="flex flex-col gap-4"
        [dataInputs]="[{name : 'Kobolds', value:'kobold-1'},{name : 'Elves', value:'elfe-1'},]" [groupName]="'Fantasy'">
      </app-radio-button>
    </div>
  </div>


  <!-- SECTION BOUTTON -->

  <h2 class="text-indigo-700 text-xl mb-2 mt-5 ">Boutons</h2>
  <div class="p-3 border border-slate-300 rounded-lg flex flex-col align-middle">
    <div class="flex items-center">
      <app-buttons class="btn-primary-bg" [text]="'Suivant'" [ico]="true">
      </app-buttons>
      <p class="ml-4">bouton avec icone et background</p>
    </div>
    <div class="flex items-center">
      
      <app-buttons class="btn-primary-bg" [text]="'Suivant'" [isDisabled]="true" [ico]="true">
      </app-buttons>
      <p class="ml-4">État inactif</p>
    </div>
    <div class="flex items-center">
      <app-buttons class="btn-primary-bg" [text]="'Valider'"></app-buttons>
      <p class="ml-4">sans icone</p>
    </div>
    <div class="flex items-center">
      <app-buttons class="" [text]="'Annuler'"></app-buttons>
      <p class="ml-4">sans icone et sans background</p>
     
    </div>
    
    
  </div>

  <!-- SECTION INPUT -->

  <h2 class="text-indigo-700 text-xl mb-2 mt-5 ">Inputs</h2>

  <app-input class="w-28 mb-2 block  data-currency" [type]="'number'"></app-input>
  <app-input class="w-44 mb-2 block" [type]="'number'"></app-input>
  <app-input class="w-44 mb-2 block" [type]="'password'"></app-input>

  <app-input class="w-44 mb-2 block" [type]="'date'"></app-input>


  <!-- SECTION CHECKBOX -->

  <h2 class="text-indigo-700 text-xl mb-2 mt-5 ">checkbox</h2>

  <app-checkbox [idInput]="'check_1'" [val]="'v1'" [labelInnerText]="'checkbox 1'"></app-checkbox>
  <app-checkbox [idInput]="'check_2'" [val]="'v2'" [labelInnerText]="'checkbox 2'"></app-checkbox>

</div>
