<app-header></app-header>

<div class="pt-36 pb-36 m-auto  w-full max-w-[1156px]">

  <!-- SECTION RADIO BOUTTON -->
  <section class="mb-10">
    <p>Documentation des composants angular : <a href="/doc/index.html"
        class="text-blue-500 hover:text-blue-700">Documentation</a></p>
  </section>

  <div class="flex flex-col mb-24">
    <h1 class="text-indigo-700  mb-1 mt-5 ">Boutons Radio</h1>
    <div class="p-5 border border-slate-300 rounded-lg flex flex-col align-middle">
      <a href="/doc/components/RadioButtonComponent.html"
        class="flex items-center justify-end text-blue-500 hover:text-blue-700"><svg xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-8 mr-3" width="32"
          height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
          <path fill="currentColor"
            d="M225.3 82.7a51.8 51.8 0 0 1-15.3 36.8l-28.3 28.3a52 52 0 0 1-73.5 0a8 8 0 1 1 11.3-11.3a36.1 36.1 0 0 0 50.9 0l28.3-28.3a36 36 0 1 0-50.9-50.9L128 77.1a8 8 0 0 1-11.3-11.3L136.5 46a52.1 52.1 0 0 1 88.8 36.7ZM128 178.9l-19.8 19.8a36 36 0 0 1-50.9-50.9l28.3-28.3a36.1 36.1 0 0 1 50.9 0a8 8 0 0 0 11.3-11.3a52 52 0 0 0-73.5 0L46 136.5a52 52 0 1 0 73.5 73.5l19.8-19.8a8 8 0 0 0-11.3-11.3Z">
          </path>
        </svg> <span>
          Doc radio bouton
        </span></a>

      <!-- Dispay in row -->
      <h3 class="mb-4 mt-4 text-gray-600">Display inline</h3>

      <app-radio-button class="flex p-0"
        [dataInputs]="[{name : 'Nuxt', value:'nux-1'},{name : 'SvelteJS', value:'angular-1'}]"
        [groupName]="'frameworkjs'">
      </app-radio-button>

      <!-- Dispay in columns-->
      <h3 class="mb-4 mt-6 text-gray-600">Display Column</h3>

      <app-radio-button class="flex flex-col gap-4"
        [dataInputs]="[{name : 'Kobolds', value:'kobold-1'},{name : 'Elves', value:'elfe-1'},]" [groupName]="'Fantasy'">
      </app-radio-button>
    </div>
  </div>


  <!-- SECTION BOUTTON -->

  <h1 class="text-indigo-700  mb-2 mt-5 ">Boutons</h1>
  <div class="p-3 border border-slate-300 rounded-lg flex flex-col align-middle gap-5 mb-24">
    <a href="/doc/components/ButtonsComponent.html"
      class="flex items-center justify-end text-blue-500 hover:text-blue-700 basis-full"><svg
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
        class="w-8 mr-3" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
        <path fill="currentColor"
          d="M225.3 82.7a51.8 51.8 0 0 1-15.3 36.8l-28.3 28.3a52 52 0 0 1-73.5 0a8 8 0 1 1 11.3-11.3a36.1 36.1 0 0 0 50.9 0l28.3-28.3a36 36 0 1 0-50.9-50.9L128 77.1a8 8 0 0 1-11.3-11.3L136.5 46a52.1 52.1 0 0 1 88.8 36.7ZM128 178.9l-19.8 19.8a36 36 0 0 1-50.9-50.9l28.3-28.3a36.1 36.1 0 0 1 50.9 0a8 8 0 0 0 11.3-11.3a52 52 0 0 0-73.5 0L46 136.5a52 52 0 1 0 73.5 73.5l19.8-19.8a8 8 0 0 0-11.3-11.3Z">
        </path>
      </svg> <span>
        Doc boutons
      </span></a>
    <div class="flex items-start">
      <div class="flex flex-col items-center basis-1/4 ">
        <app-buttons class="btn-primary" [text]="'Enregistrer'" [reverse]="getIsReverse(primaryBtn)" #primaryBtn>
          <app-icones [ngStyle]="{'display':getHasIcone(icoBtn)?'none':'inherit'}" icone [nameIcone]="'save'"
            [hidden]="true" #icoBtn></app-icones>
        </app-buttons>
        <div class="flex gap-5">
          <span class="ml-3 text-blue-500 hover:text-blue-700 cursor-pointer"
            (click)="toggleReverse(primaryBtn)">Inverser</span>
          <span class="ml-3 text-blue-500 hover:text-blue-700 cursor-pointer"
            (click)="toggleHasIcone(icoBtn)">{{!getHasIcone(icoBtn)?'caher':'afficher'}}</span>
          
            <div class="flex items-center justify-between gap-3">
              <app-icones (click)="changeIcone(icoBtn,'save')" class=" cursor-pointer " [nameIcone]="'save'" [fill]="'#333333'" ></app-icones>
              <app-icones (click)="changeIcone(icoBtn,'arrow-right')" class=" cursor-pointer " [nameIcone]="'arrow-right'" [fill]="'#333333'" ></app-icones>
              <app-icones (click)="changeIcone(icoBtn,'arrow-down')" class="ml-2 cursor-pointer " [nameIcone]="'arrow-down'" [fill]="'#333333'"></app-icones>
              <app-icones (click)="changeIcone(icoBtn,'arrow-up')" class="ml-2 cursor-pointer " [nameIcone]="'arrow-up'" [fill]="'#333333'"></app-icones>
              <app-icones (click)="changeIcone(icoBtn,'arrow-left')" class="ml-2 cursor-pointer " [nameIcone]="'arrow-left'" [fill]="'#333333'"></app-icones>
            </div>
        </div>
        <code class="flex flex-col text-zinc-800 mt-2 p-2 text-lg  w-full\ border rounded">
          <span>.btn-primary</span> 
          <span><span class="text-red-400">[text]= </span><span class="text-green-500">{{primaryBtn.text}}</span></span>
          <span><span class="text-red-400">[reverse]= </span> <span class="text-green-500">{{primaryBtn.reverse}}</span></span>
      </code>

      </div>
      <div class="flex flex-col items-center basis-1/4">
        <app-buttons class="btn-primary" [text]="'Suivant'" [isDisabled]="true" [reverse]="false">
          <app-icones icone [nameIcone]="'arrow-right'"></app-icones>
        </app-buttons>
        <div class="flex gap-5">
          <p class="">État inactif</p>
          
        </div>
        <code class="flex flex-col text-zinc-800 mt-2 p-2 text-lg  w-full\ border rounded">
          <span>.btn-primary</span> 
          <span><span class="text-red-400">[text]= </span><span class="text-green-500">{{primaryBtn.text}}</span></span>
          <span><span class="text-red-400">[isDisabled]=</span> <span class="text-green-500">true</span></span>
      </code>
        
      </div>
      <div class="flex flex-col items-center basis-1/4">
        <app-buttons class="btn-primary" [text]="'Valider'"></app-buttons>
        <div class="flex gap-5">
          <p class="">sans icone</p>
         
        </div>
        <code class="flex flex-col text-zinc-800 mt-2 p-2 text-lg  w-full\ border rounded">
          <span>.btn-primary</span> 
          <span><span class="text-red-400">[text]= </span><span class="text-green-500">Annuler</span></span>
          <span><span class="text-red-400">[isDisabled]=</span> <span class="text-green-500">true</span></span>
      </code>
      </div>
      <div class="flex flex-col items-center basis-1/4">
        <app-buttons class="" [text]="'Annuler'"></app-buttons>
        <p class="ml-4">sans icone et sans background</p>
        <code class="flex flex-col text-zinc-800 mt-2 p-2 text-lg  w-full\ border rounded">
          <span><span class="text-red-400">[text]= </span><span class="text-green-500">Annuler</span></span>
          <span><span class="text-red-400">[isDisabled]=</span> <span class="text-green-500">true</span></span>
      </code>
      </div>
    </div>
  </div>

  <!-- SECTION INPUT -->

  <h1 class="text-indigo-700 mb-2 mt-5 ">Inputs</h1>
  <div class="p-5 border border-slate-300 rounded-lg flex flex-col align-middle mb-24 gap-5">
    <a href="/doc/components/InputComponent.html"
      class="flex items-center justify-end text-blue-500 hover:text-blue-700"><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-8 mr-3" width="32" height="32"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
        <path fill="currentColor"
          d="M225.3 82.7a51.8 51.8 0 0 1-15.3 36.8l-28.3 28.3a52 52 0 0 1-73.5 0a8 8 0 1 1 11.3-11.3a36.1 36.1 0 0 0 50.9 0l28.3-28.3a36 36 0 1 0-50.9-50.9L128 77.1a8 8 0 0 1-11.3-11.3L136.5 46a52.1 52.1 0 0 1 88.8 36.7ZM128 178.9l-19.8 19.8a36 36 0 0 1-50.9-50.9l28.3-28.3a36.1 36.1 0 0 1 50.9 0a8 8 0 0 0 11.3-11.3a52 52 0 0 0-73.5 0L46 136.5a52 52 0 1 0 73.5 73.5l19.8-19.8a8 8 0 0 0-11.3-11.3Z">
        </path>
      </svg> <span>
        Doc champs de saisie
      </span></a>
    <div class="flex items-center gap-2">
      <label for="">Saisie montant</label>
      <app-input class="w-28  block  data-currency" [type]="'number'"></app-input>
    </div>
    <div class="flex items-center gap-11">
      <label for="">Saisie texte</label>
      <app-input class="w-44 block"></app-input>
    </div>
    <div class="flex items-center gap-5">
      <label for="">Mot de passe</label>
      <app-input class="w-44 mb-2 block" [type]="'password'"></app-input>
    </div>

    <div class="flex items-center gap-3">
      <label for="">Date de saisie</label>
      <app-input class="w-[144px] mb-2 block" [type]="'date'"></app-input>
    </div>
  </div>

  <!-- SECTION CHECKBOX -->

  <h1 class="text-indigo-700  mb-2 mt-10 ">checkbox</h1>
  <div class="p-5 border border-slate-300 rounded-lg flex flex-col align-middle gap-5 mb-24">
    <a href="/doc/components/CheckboxComponent.html"
      class="flex items-center justify-end text-blue-500 hover:text-blue-700"><svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="w-8 mr-3" width="32" height="32"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
        <path fill="currentColor"
          d="M225.3 82.7a51.8 51.8 0 0 1-15.3 36.8l-28.3 28.3a52 52 0 0 1-73.5 0a8 8 0 1 1 11.3-11.3a36.1 36.1 0 0 0 50.9 0l28.3-28.3a36 36 0 1 0-50.9-50.9L128 77.1a8 8 0 0 1-11.3-11.3L136.5 46a52.1 52.1 0 0 1 88.8 36.7ZM128 178.9l-19.8 19.8a36 36 0 0 1-50.9-50.9l28.3-28.3a36.1 36.1 0 0 1 50.9 0a8 8 0 0 0 11.3-11.3a52 52 0 0 0-73.5 0L46 136.5a52 52 0 1 0 73.5 73.5l19.8-19.8a8 8 0 0 0-11.3-11.3Z">
        </path>
      </svg> <span>Doc checkbox</span></a>
    <app-checkbox [idInput]="'check_1'" [val]="'v1'" [labelInnerText]="'checkbox 1'"></app-checkbox>
    <app-checkbox [idInput]="'check_2'" [val]="'v2'" [labelInnerText]="'checkbox 2'"></app-checkbox>
    <app-checkbox [idInput]="'check_3'" [val]="'v3'" [labelInnerText]="'inactive'" [isDisabled]="true"></app-checkbox>
  </div>

</div>
